[submodule ".zsh_custom/plugins/zsh-autosuggestions"]
	path = .zsh_custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".zsh_custom/plugins/zsh-syntax-highlighting"]
	path = .zsh_custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".zsh_custom/plugins/zsh-vim-mode"]
	path = .zsh_custom/plugins/zsh-vim-mode
	url = https://github.com/pwang2/zsh-vim-mode
[submodule ".extra/iTerm2-Color-Schemes"]
	path = .extra/iTerm2-Color-Schemes
	url = https://github.com/mbadolato/iTerm2-Color-Schemes
[submodule ".zsh_custom/themes/spaceship-prompt"]
	path = .zsh_custom/themes/spaceship-prompt
	url = https://github.com/denysdovhan/spaceship-prompt.git
[submodule ".extra/UltiSnips"]
	path = .extra/UltiSnips
	url = https://github.com/pwang2/UltiSnips.git
	branch = master
