**/*
!.zshenv
!.zshrc
!.vimrc
!.Brewfile
!.tmux.conf
!.tmuxline.conf
!.gitignore
!.eslintrc.json
!.tern-config
!.config/yarn/global/package.json
!.config/yarn/global/yarn.lock
!.prettierrc
!.extra/**/*

