*
!.zshenv
!.zshrc
!.vimrc
!.Brewfile
!.tmux.conf
!.tmuxline.conf
!.gitignore
!.eslintrc.json
!.tern-config
!.gitmodules
!.config/
!.config/yarn/
!.config/yarn/global/
!.config/yarn/global/package.json
!.config/yarn/global/yarn.lock
!.prettierrc
!.extra/
!.extra/com.googlecode.iterm2.plist
