type: "MARKDOWN_NOTE"
folder: "98fe49f4c111e674e662"
title: "Floor plan of #3"
content: '''
  1. Floor plan of #3
  https://ssl.cdn-redfin.com/photo/68/mbpaddedwide/778/genMid.08874778_11_0.jpg
  
  Rates/Closing/Points
  
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-10-30T15:29:53.594Z"
updatedAt: "2017-10-30T20:11:07.372Z"
